.card{
  border: 1px solid black;
  width: 200px;
  color: green;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
 
}
.parent{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  height: 100px;
}
h1{
  color : blue;
}
.pic{
   border: 1px solid black;
  width: 200px;
  color: rgb(128, 0, 51);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
button{
  color: aqua;
}